
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-404">
    <p class="text-404">OPS!</p>


    <p>Kayıt Bulunamadı <br><a href="/CRMgiris/Index/">ÇIK</a></p>
</div>
